/* VARIABLES */
:root {
    /* --main-bg-color: rgb(255, 255, 255); */
    --main-bg-color: rgb(0, 0, 0);
    
    --navbox-width: 191px;
    --navbox-bg-color: rgb(13,43,74);
    --navbox-title-text-color: rgb(155,195,58);
    --navbox-button-text-color: rgb(255,255,255);
    --navbox-button-highlight-color: rgb(0, 186, 233);
}


/* RESET */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--main-bg-color); 
}

/* WELCOMER */
#welcome_bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.75;
    background-color: black;

    z-index: 100;
}

#welcome_image {
    display: block;
    position: fixed; 
    opacity: 1;

    width: 50%;
    height: auto;

    top: 15%;
    left: 25%;

    z-index: 101;
}

#begin_button {
    display: block;
    position: fixed;
    opacity: 1;

    width: 100px;
    height:27px;

    padding: 0;
    margin: 3px;

    top: 65%;
    left: 48%;

    cursor: pointer;
    
    background-color: transparent;

    background-image: url('./images/begin-icon.png');
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;

    z-index: 101;
}

#begin_button:hover {
    background-image: url('./images/begin-hover.png');
}


/* NAVBOX */
.navbox-container {
    position: fixed;
    display: block;
    top: 0;
    left: 11%;

    width: auto;
    background-color: var(--navbox-bg-color);
    padding: 0;

    border-bottom: 1px solid;
    border-color: var(--navbox-button-highlight-color);

    z-index: 99;

}

.navbox-topper {
    display: block;
    width: var(--navbox-width);

    z-index: 99;
}

.navbox-topper img {
    display: block;
    width: 100%;

    z-index: 99;
}

.navbox-button {
    display: block;
    width: var(--navbox-width);
    height: 100%;

    color: var(--navbox-button-text-color);
    white-space: nowrap;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    padding: 7px 0;
    text-decoration: none;

    background-color: var(--navbox-bg-color);
    cursor: pointer;

    border: none;
    border-top: 1px solid;
    border-color: var(--navbox-button-highlight-color);

    z-index: 99;
}

.navbox-button:hover {
    background-color: var(--navbox-button-highlight-color);
}

/* LOGO FOOTER */
.logo-button {
    display: block;
    position: fixed;

    width: 242px;
    height: 69px;
    
    bottom: 3px;    
    right: 10%;

    margin: 5px 0;

    cursor: pointer;
    
    background-color: transparent;

    background-image: url('./images/footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}


/* VIDEO PLAYER */

#video_container {
    z-index: 200;
}

#video_player {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    z-index: 200;
}

#c {
    display: block;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    
    overflow: hidden;

    z-index: 50;

    /* border: solid red 1px; */
}

  